---
http_interactions:
- request:
    method: post
    uri: https://api.sendgrid.com/v3/mail/send
    body:
      encoding: UTF-8
      string: '{"from":{"email":"noreply@kenko.pages"},"subject":"Atention. test-toggle
        is down!","personalizations":[{"to":[{"email":"test@test.com"}]}],"content":[{"type":"text/plain","value":"Something
        was wrong with test-toggle. Status: [{\"name\"=>\"base\", \"status\"=>false}]"}]}'
    headers:
      Authorization:
      - Bearer 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
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      X-Message-Id:
      - xUVDWCBURDeKMennV5j7cg
      X-No-Cors-Reason:
      - https://sendgrid.com/docs/Classroom/Basics/API/cors.html
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 04 Jan 2020 17:43:12 GMT
recorded_with: VCR 5.0.0
